<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="galaxy.dao.CategoryDAO">
   <select id="selectFirstCategoryByParentId" resultType="category">
       select id id,
              category_name categoryName,
              parent_id parentId,
              CREATE_TIME createTime,
              CREATE_USER_ID createUserId,
              REMOVE_TIME removeTime,
              category_enable categoryEnable
          from  gm_category    
        where parent_id=-1 
         and category_enable=1 
           
   </select>
   
   
    <select id="selectChildCategoryByParentId" resultType="category">
       select id id,
              category_name categoryName,
              parent_id parentId,
              CREATE_TIME createTime,
              CREATE_USER_ID createUserId,
              REMOVE_TIME removeTime,
              category_enable categoryEnable
          from  gm_category    
        where parent_id=#{id}
           and category_enable=1    
   </select>  
       
   
   <update id="deleteCategoryListByEnable">
      update  gm_category
          set category_enable = 0
      where id=#{id}
   </update>
  
   
</mapper>