<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="galaxy.dao.DiscountDAO">


	<select id="selectDiscount" resultType="discount">
		select 
			ID id,
			STORE_ID storeId,
			DISCOUNT_WAY discountWay,
			ENOUGH_MONEY enoughMoney,
			REDUCE_MONEY reduceMoney,
			CREAT_TIME createTime,
			UPDATE_TIME updateTime,
			REMOVE_TIME removeTime,
			DISCOUNT_ENABLE discountEnable
		from
		gm_discount
		<where>
			DISCOUNT_ENABLE=1
			<if test="id != null and id !=0"> and ID=#{id}</if>
			<if test="storeId != null and storeId != 0"> and STORE_ID=#{storeId}</if>
		</where>
	</select>



	<insert id="setDiscount">
		insert gm_discount
		(STORE_ID,DISCOUNT_WAY,ENOUGH_MONEY,REDUCE_MONEY,CREAT_TIME,UPDATE_TIME)
		values
		(#{storeId},#{discountWay},#{enoughMoney},#{reduceMoney},NOW(),NOW())
	</insert>
	
	<update id="changeDiscount">
		update gm_discount
		<set>
			<if test="discountWay != null and discountWay != '0'">DISCOUNT_WAY=#{discountWay},</if>
			<if test="enoughMoney != null and enoughMoney !='0'">ENOUGH_MONEY=#{enoughMoney},</if>
			<if test="reduceMoney != null and reduceMoney !=0">REDUCE_MONEY=#{reduceMoney},UPDATE_TIME=NOW()</if>
		</set>
		where STORE_ID=#{storeId}
	</update>
	
	<update id="cancelDiscount">
		update gm_discount
		set DISCOUNT_ENABLE=0 ,REMOVE_TIME=NOW()
		where STORE_ID=#{storeId}
	</update>




</mapper> 
