<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="galaxy.dao.OrderDetailDAO">
	<insert id="addOrderDetail">
		insert into gm_order_detail
					(ORDER_ID,STORE_ID,GOODS_ID,GOODS_PRICE,GOODS_COUNT,DISCOUNT_ID,CREATE_TIME)
		values
					(#{orderId},#{storeId},#{goodsId},#{goodsPrice},#{goodsCount},#{discountId},NOW())

	</insert>

	<select id="selectOrderDetail" resultType="OrderDetail">
		select  od.ID 			  id,	
				od.ORDER_ID 	  orderId,
				od.STORE_ID 	  storeId,
				od.GOODS_ID 	  goodsId,
				od.GOODS_PRICE   goodsPrice,
				od.GOODS_COUNT   goodsCount,
				od.DISCOUNT_ID   discountId,
				od.CREATE_TIME   createTime,
				g.GOODS_ATTRIBUTE_F goodsAttributeF,
				g.GOODS_ATTRIBUTE_S	goodsAttributeS,
				gm.MODEL_NAME	modelName
		from	gm_order_detail od,gm_goods g,gm_goods_model gm
		where
				ORDER_ENABLE = 1 and
				ORDER_ID = #{orderId} and
				od.GOODS_ID = g.ID and
				g.MODEL_ID = gm.ID
	</select>
	
	<select id="selectOrderDetailIsDiscount" resultType="OrderDetail">
		select  ID 			  id,	
				ORDER_ID 	  orderId,
				STORE_ID 	  storeId,
				GOODS_ID 	  goodsId,
				GOODS_PRICE   goodsPrice,
				GOODS_COUNT   goodsCount,
				DISCOUNT_ID   discountId,
				CREATE_TIME   createTime
		from	gm_order_detail
		where
				DISCOUNT_ID  != 0
				ORDER_ENABLE = 1 and
				ORDER_ID = #{orderId}
	</select>
	
	<select id="judgeDiscount" resultType="Integer">
		SELECT gm_goods_model.MODEL_IS_DISCOUNT
		FROM   gm_goods_model , 
			   gm_goods
		WHERE  gm_goods.id = #{goodsId} AND
			   gm_goods.MODEL_ID = gm_goods_model.id

	</select>
	
	<update id="setOrderDetailDiscountId">
		update  gm_order_detail
		SET		DISCOUNT_ID = #{discountId}
		where	ID = #{id}
	</update>
	
	<update id="setProblem">
		update  gm_order_detail
		SET		IS_PROBLEM = #{isProblem}
		where	ID = #{id}
	</update>
	
	<update id="setComment">
		update  gm_order_detail
		SET		IS_COMMENT = 1
		where	ID = #{id}
	</update>


</mapper> 
