<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="galaxy.dao.OrderDetailDAO">
	<insert id="addOrderDetail">
		insert gm_order_detail
		(ORDER_ID,STORE_ID,GOODS_ID,GOODS_PRICE,GOODS_COUNT,DISCOUNT_ID,CREATE_TIME)
		values
		(#{orderId},#{storeId},#{goodsId},#{goodsPrice},#{goodsCount},#{discountId},NOW())

	</insert>

	<select id="selectOrderDetail" resultType="OrderDetail">
		select
		ID id,	
		ORDER_ID orderId,
		STORE_ID storeId,
		GOODS_ID goodsId,
		GOODS_PRICE goodsPrice,
		GOODS_COUNT goodsCount,
		DISCOUNT_ID discountId,
		CREATE_TIME createTime
		from
		gm_order_detail
		where
		ORDER_ENABLE=1 and
		ORDER_ID=#{orderId}
	</select>

	<select id="judegeDiscount" resultType="Integer">
		SELECT gm_goods_model.MODEL_IS_DISCOUNT
		FROM gm_goods_model , gm_goods
		WHERE gm_goods.id=#{goodsId} AND gm_goods.MODEL_ID=gm_goods_model.id

	</select>
	
	


</mapper> 
